/**
*Document standards styling
*/
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
h1 {
    margin: 0;
    margin-bottom: 20px;
}
h2 {
    margin: 0;
    font-size: 20px;
}
p {
    margin: 0;
}
/**
*horizontal navigation styling
*/
.horizontal {
    max-width: 175px;
    box-shadow: 2px 0 5px gray;
    height: 100vh;
    position: fixed;
}
.horizontal img {
    max-width: 100%;
}
.horizontal button {
    width: 80%;
    margin: 5px 10%;
    border: none;
    border-radius: 5px;
    padding: 5px 1px;
    font-size: 14px;
    font-family: lato;
    font-weight: bold;
}
.horizontal li {
    padding-left: 15px;
    padding-top: 15px;
    font-size: 14px;
}
.horizontal li i {
    font-size: 20px;
}
.menuOpen {
    border: none;
    background-color: #3ac593;
    position: fixed;
    padding: 0;
    top: 50px;
    display: none;
}
/**
*vertical navigation styling
*/
.vertical {
    margin-left: 175px;
    background-color: white;
}
.links {
    padding: 5px 10px;
}
.links i {
    font-size: 40px;
}
.links .user {
    float: right;
}
.vertical .banner {
    background-color: lightgrey;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.content {
    margin-left: 175px;
    background-color: #E4E5E4;
    padding: 20px 40px;
}
/**
*filters styling
*/
.filters {
    max-width: 540px;
}
.filters select {
    border: none;
    border-radius: 8px;
    background-color: white;
    font-size: 14px;
    padding: 4px 8px;
    margin-right: 8px;
    margin-bottom: 5px;
}
.filters a {
    color: black;
    margin-right: 5px;
}
.filters button {
    border: none;
    border-radius: 10px;
    background-color: #3ac593;
    color: white;
    padding: 6px 16px;
    font-size: 14px;
}
/**
*search results container styling
*/
.searchResults {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, 500px);
    margin-top: 20px;
    padding-bottom: 70px;
}
/**
*individual results card styling
*/
.resultCard {
    width: 95%;
    text-align: center;
    background-color: white;
    margin-bottom: 15px;
    height: fit-content;
}
.resultCard img {
    width: 80%;
    max-height: 200px;
    object-fit: cover;
    margin: 10% 10% 5% 10%;
}
.resultCard p {
    margin-top: 5px;
    margin-bottom: 7px;
}
.resultCard button {
    width: 100%;
    border: none;
    background-color: #3ac593;
    font-size: 18px;
    margin-top: 3px;
    height: 40px;
    color: white;
}
.resultCard .icon {
    width: 50%;
    background-color: #075264;
    margin: 0;
}
.iconLeft {
    float: left;
}
.iconRight {
    float: right;
}
.resultCard button:hover {
    background-color: #2f9e76;
    cursor: pointer;
}
.resultCard .icon:hover{
    background-color: #0a738c;
    cursor: pointer;
}

.hidden {
    display: none;
}
.resultCard:hover {
    width: 97%;
    box-shadow: 2px 4px 5px gray;

}
.resultCard:hover .hidden{
    display: block;
}
/**
*responsive design styling
*/
@media only screen and (max-width: 1115px) {
    
    .searchResults {
        grid-template-columns: repeat(3, auto);
    }
    .resultCard {
        width: 90%;
    }
    p {
        font-size: 14px;
    }
    .hidden {
        display: block;
    }
}
@media only screen and (max-width: 970px) {
    .horizontal {
        display: none;
        width: 100vw;
        background-color: white;
    }
    .content, .vertical{
        margin: 0;
        padding: 0;
    }
    h1 {
        padding-top: 5%;
    }
    .content {
        padding-left: 5%;
        padding-right: 5%;
        width: 90%;
    }
    .searchResults {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, 520px);
    }
    .resultCard {
        width: 90%;
    }
    .resultCard:hover {
        width: 90%;
    }    
}
@media only screen and (max-width:550px) {
    .searchResults{
        grid-template-columns: auto;
        grid-template-rows: repeat(8, 620px);
        margin: auto;
    }
    .resultCard {
        width: 100%;
    }
    .resultCard p {
        font-size: 16px;
    }
    .resultCard:hover {
        width: 100%;
    }
}
